.contanier-content{
    font-size: 14pt;
    font-family: 'Montserrat';
    img#about{
        max-width:70%;
        margin: 0 auto;
        display: block;
    }
    figcaption{
        font-weight: 300;
        color: grey;
    }
}

blockquote{
    font-size: 24pt;
    font-weight: 400;

}